h1{
    font-size: 55px;
    color: white;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url("Stardew Valley Wallpaper.png");
    background-size: 50%;
}
th, tr{
    font-size: 20px;
    font-family: sans-serif;
    background-color: beige; 
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#center{
    margin-left: auto;
    margin-right: auto;
}
#restartButton{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: thistle;
    font-size: large;
}
#board{
    background-image: url("Stardew Valley Mountains.png");
    background-size: cover;
    border-radius: 20px;
    border-bottom: 20px solid khaki;
    zoom: 100%;
}
